/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Typo */
body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-image: url("../img/pattern.png");
    background-color: #4d9ffe;
    background-size: 26%;
    height: 6.25rem;
    position: relative;
}

header img {
    position: absolute;
    bottom: 0;
    height: 60px;
}

/* section title and image*/
h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: .9375rem;
    max-width: 62.5rem;
}

h4, h5 {
    color: #919191;
}

a {
    text-decoration: none;
    color: #4d9ffe;
}

figure {
    margin-top: 15px;
}

figcaption {
    font-weight: 500;
    font-size: 13px;
}